*{
    margin: 10px;
    padding: 0;
}

body{
	background-color: #FFFFFF;
    font: inherit 16px Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
}

#box1{
	padding: 5px 5px 5px 5px;
	background-image: url('../img/battleship.jpg');
	color: #F8F8F8;
	font-family: Tahoma;
	font-weight: bolder;
}
#span{
	display: inline;
	float: right;
}
#box2{
	background-image: url('../img/book.jpg');
	color: black;
	padding: 5px 5px 5px 5px;
	border-color: #63001B;
	font-weight: bold;}

#box2 li{
	list-style-type: arabic-indic;
}

#gm{
	color: goldenrod;
}

#box2 h3{
	color: #F8F8F8;
	font-family: Verdana;
	border-right: 5px #63001B solid;
	border-bottom: 5px #63001B solid;
	background-color: black;
	padding: 5px 5px 5px 5px;
	margin-right: 70%;
}


.box3{
	padding: 5px 5px 5px 5px;
	background-color: #8A656F;
	color: #F8F8F8;
	font-weight: bolder;
}
.box3 h3{
	font-family: Verdana;
	border-right: 5px #63001B solid;
	border-bottom: 5px #63001B solid;
	background-color: black;
	padding: 5px 5px 5px 5px;
	margin-right: 90%;
}
#gm1{
	color: #63001B;
}

.box3 li{
	list-style-type: arabic-indic;
}

#box4{
	background-image: url('../img/brushes.jpg');
	color: goldenrod;
	padding: 5px 5px 5px 5px;
	border-color: #63001B;
	font-weight: bold;
}

#box4 h3{
	font-family: sans-serif;
	color: #F8F8F8;
	border-right: 5px #63001B solid;
	border-bottom: 5px #63001B solid;
	background-color: black;
	padding: 5px 5px 5px 5px;
	margin-right: 70%;
}
#box4 li{
	list-style-type: arabic-indic;
}

 footer{
	text-align: center;
	color: goldenrod;
	background-color: #090003;
	padding: 20px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa {
  padding: 5px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.5;
}